.odd {
  font-size: 18px;
  background-color: rgb(234, 154, 154);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#second {
  color: hsl(219, 100%, 50%);
  font-size: 36px;
}
.odd.cooler {
  font-size: 24px;
}
#forth {
  font-size: 24px;
  background-color: rgb(134, 227, 134);
  font-weight: bold;
}
